/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');


.App {
  text-align: center;
}


.navbar-toggler-icon{
  color: #FEFBFB;
}

.Contact-button{
  background-color: transparent;
  color: #FEFBFB;
  border-color: #FEFBFB;
  border-radius: 10%;
  font-family: 'Montserrat', sans-serif;
  border-style: solid;
  margin-right: 5%;
  height : 3rem;
  width : 10rem;
  font-size: 20px;
  opacity: 0.75;
}

.Logo{
  height: 3rem;
  width: 6rem;
  margin-left: 10%;
}

.active-nav-link{
  color: #FF9A00 !important;
}

nav.navbar{
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 9999;
  transition: 0.32 ease-in-out;
}

nav.navbar.scrolled{
  padding: 0px 0;
  background-color: #121212;
}

