@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000814;
  color: #FEFBFB !important;
  font-family: 'Montserrat', sans-serif;
}
.nav-link{
  color: #FEFBFB !important;
  font-size: 20px !important;
  margin-right: 15%;
  font-weight: 400;
  letter-spacing: 0.8px;
  opacity: 0.7;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active{
  opacity:1;
}






code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
